* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --blue: #2417d4
}

body {
    height: 100vh;
    background-color: black;
    background-size: cover;
    background-position: center;
}

header li {
    list-style: none;
}

header li a, a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

header li a:hover,  header a:hover{
    color: var(--blue);
}

header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    cursor: default;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: var(--blue);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer; 
    transition: scale .2 ease;
}

.action_btn:hover {
    scale: 1.05;
    color: white;
}

.action_btn:active {
    scale: 0.95;
}

.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 240px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hero Section */
section#hero {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    color: white;
    background-image: url("images/dad_with_chicks.jpg");
    background-repeat: no-repeat;
    background-position: calc(50vw - 60px);
}

#hero h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

#hero h2, #hero h1 {
    padding-left: 5rem;
}

/* about section */
section#about {
    height: 60vh;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(180deg, black, var(--blue));
    font-size: 1.5rem;
    text-align: center;
}

#about .description {
    display: flexbox;
    padding-left: 20vw;
    padding-right: 20vw;
}

#about .description h1 {
    margin: 3rem;
    font-size: 4rem;
}


/* ABOUT PAGE */
section#start {
    display: flex;
    color: white;
    font-size: 1.75rem; 
}

#start .wrapper {
    margin: 100px auto;
    width: 70%;
    padding: 8px;
}

#start .about_section {
    text-align: left;
}

#start .wrapper img {
    float: left;
    padding: 0 10px 0 0;
}

#start h1 {
    padding: 20px;
    font-size: 4.5rem;
}

/* Career Page */
section#career_header {
    height: calc(100vh - 60px);
    background-image: url("images/construction_stock2.jpg");
    background-position: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

#career_header .container {
    display: flexbox;
    align-items: center;
}

#career_header .container .title {
    font-size: 5rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    text-align: center;
}

#career_header .container .company_logos {
    display: flex;
    justify-content: center;
    align-items: center;
}

section#harvey {
    display: flex;
    color: white;
    font-size: 1.75rem; 
}

#harvey .wrapper {
    margin: 50px auto;
    width: 70%;
    padding: 8px;
}

#harvey .about_section {
    text-align: left;
}

#harvey .wrapper img {
    float: right;
    padding: 0 10px 0 0;
}

#harvey h1 {
    padding: 20px;
    font-size: 4.5rem;
}

#harvey .harvey_title {
    display: flex;
    justify-content: end;
}

/* Contact Page */
.contact_title {
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 4rem;
    font-size: 2.5rem;
}

.contact_container {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_container img {
    border-radius: 50%;
    border-color: var(--blue);
    border-width: 5px;
    border-style: solid;
    aspect-ratio: 1/1;
    width: 20rem;
}

.fields h2 {
    padding: 10px;
    font-size: 2rem;
}

.fields {
    padding: 40px;
}

.thank_you {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
    font-size: 1.5rem;
}




@media(max-width: 992px) {
    .navbar .links,
    .navbar > .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }

    section#hero {
        background-position: center;
        background-size: cover;
        align-items: center;
    }

    #hero h2, #hero h1 {
        padding: 0;
    }

    .contact_title {
        font-size: 1.5rem;
    }

    .thank_you {
        font-size: 1rem;
    }

    .fields h2 {
        font-size: 1rem;
    }

    .contact_container img {
        border-radius: 50%;
        border-color: var(--blue);
        border-width: 5px;
        border-style: solid;
        aspect-ratio: 1/1;
        width: 15rem;
    }
}

@media(max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }

    #about .description {
        padding: 2rem;
        font-size: 1rem;
    }

    #about .description h1 {
        margin: 1rem;
        font-size: 2rem;
    }

    #start .wrapper {
        width: 100%;
        margin: 50px;
    }

    #start p {
        text-align: center;
        font-size: 1rem;
    }

    #start img {
        width: 100%;
        margin: 0 0 20px 0;
    }

    #start h1 {
        font-size: 3rem;
        text-align: center;
    }

    #harvey .wrapper {
        width: 100%;
        margin: 50px;
    }

    #harvey p {
        text-align: center;
        font-size: 1rem;
    }

    #harvey img {
        width: 100%;
        margin: 0 0 20px 0;
    }

    #harvey .harvey_title {
        justify-content: center;
    }

    #harvey h1 {
        font-size: 3rem;
        text-align: center;
    }

    section#career_header {
        height: calc(100vh - 60px);
        background-image: url("images/construction_stock2.jpg");
        background-position: center;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    
    #career_header .container {
        display: flexbox;
        align-items: center;
    }
    
    #career_header .container .title {
        font-size: 3rem;
        color: white;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 15px;
        text-align: center;
    }
    
    #career_header .container .company_logos {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #career_header .container .company_logos img{
        width: 200px;
    }

    .contact_container {
        display: grid;
        text-align: center;
    }

    .fields h2, .fields a{
        font-size: 0.75rem;
    }

    .contact_title {
        font-size: 0.75rem;
    }

    .thank_you {
        font-size: 0.5rem;
    }
}
 

